
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #000; 
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
}


.main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.card {
    background-color: #161616;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
}

.img-container {
    margin-bottom: 1.5rem;
}

.profile-image {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.description {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}


.btn-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.git-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: #292929;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    border: none; 
}

.js-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: #292929;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    border: none; 
}


.git-btn img.logo {
    width: 24px;
    height: auto;
}

.js-btn img.logo {
    width: 24px;
    height: auto;
}

.git-btn:hover {
    background-color: #13034e;
    transform: translateY(-2px);
}
.js-btn:hover {
    background-color: #c9cc0a;
    transform: translateY(-2px);
}
